*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* SPECIFICS */

#goodintentions{
    background-color: lightblue;
    height: 100vh;
}

h1, h3{
    font-family: 'Bebas Neue', cursive;
}

h1{
    font-size: 50px;
}

.goodjob{
    text-decoration: line-through;
}

.intentions,
.not-illuded{
    cursor: pointer;
}

.btn{
    background-color: dodgerblue;
    color: white;
    border: none;
}