<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/1f602.png">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Open+Sans&family=Outfit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Buoni Propositi 2022</title>
</head>
<body>
    <div id="goodintentions">
        <h1 class="text-center py-5">BUONI PROPOSITI 2022</h1>
        <div id="root">
            <div class="container">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" v-model="newInt" @keyup.enter="addNewInt">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="addNewInt" >Illuditi</button>
                </div>
            </div>
            <div class="container">
                <ul class="list-group" v-if="things.length">
                    <li v-for="(thing,index) in things"class="list-group-item d-flex justify-content-between">
                        <div class="intentions" @click="toggleThingNotIlluded(index)"><span :class="{goodjob: thing.done}">{{ thing.text }}</span></div>
                        <i class="fas fa-times not-illuded" @click="deleteInt(index)"></i>
                    </li>
                </ul>
                <h3 v-else class="text-center mx-5">Senza propositi... Bravo!! Non ti sei illuso</h3>
            </div>
        </div>
    </div>
   <script src="js/script.js"></script>
</body>
</html>